* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  list-style: none;
}
body.ltr {
  direction: ltr;
}

body.rtl {
  direction: rtl;
}

body {
  background-color: #f2f2f2;
  direction: rtl;
  overflow-x:hidden ;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../../public/Fonts/static/LibreFranklin-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../../public/Fonts/static/LibreFranklin-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../../public/Fonts/static/LibreFranklin-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../../public/Fonts/static/LibreFranklin-ExtraBold.ttf");
  font-weight: 800;
}
nav,
.DrawerHeader {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #292a2a;
}
.couponCode {
  color: #292a2a;
  border: none;
  line-height: 30px;
  margin: 0 auto;
  resize: none;
  outline: none;
  overflow: hidden;
  background: transparent;
  text-align: center;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  max-width: 100%;
}
.coupon-box-text {
  display: inline-block;
  border-radius: 3px;
  border: 1px dashed #cccccc;
  background-color: #3092493f;
  line-height: 0;
}
